.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  margin-top: 20px;
}

@media screen and (min-width: 820px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
