.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 50px 0;
  padding: 0 20px;
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.main__img__wrapper {
  width: 100%;
  height: 100%;
}

.main__img__wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__headline {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 20px;
}

.main__headline__title {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--primary-color);
}

.main__headline__text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-dark-light);

  line-height: 1.3;
}

.main__headline__subtext {
  font-size: 1.4rem;
  color: var(--text-dark-light);

  line-height: 1.3;
}

.main__headline__subtext {
  width: 100%;
}

.main__headline__reverse {
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .main {
    margin: 150px 0;
  }

  .main__content {
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    height: 500px;
    background-color: #fcfcfc;
    gap: 0;
  }

  .main__headline {
    width: 500px;
    padding: 0 20px;
  }

  .main__content__reverse {
    flex-direction: row-reverse;
  }
}
