.item {
  margin-bottom: 40px;

  cursor: pointer;
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  overflow: hidden;
  border-radius: 10px;
}

.product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 10px;

  transition: transform 0.2s ease-in-out;
}

.product__skelenton__img {
  height: 60%;

  transition: transform 0.2s ease-in-out;
}

.item:hover .product__img,
.item:hover .product__skelenton__img {
  transform: scale(1.1);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.name,
.description {
  display: -webkit-box;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  font-size: 1rem;
  color: var(--text-dark);
}

.price {
  font-size: 1.4rem;
  font-weight: bold;
}

.favorite {
  display: flex;
  align-items: center;
  gap: 10px;
}

.favorite svg {
  font-size: 1.2rem;
}
